:root {
  --fk-color-border: #ddd;
  --fk-color-primary: #f51858;
  --fk-bg-decorator: white;
  --fk-max-width-input: 100%;
  --fk-font-weight-label: 500;
}



.formkit-input {
  background-color: white;
  line-height: initial;
}

.formkit-label {
  font-size: .875rem;
  line-height: 1.25rem;
}

.formkit-actions {
  text-align: center !important;
}

.formkit-outer {
  width: 100% !important;
}

[data-type=checkbox].formkit-outer {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

[data-type=checkbox] .formkit-label {
  font-weight: var(--fk-font-weight-label) !important;
}

[data-type=checkbox] .formkit-decorator {
  box-shadow: 0 0 0 1px #ddd !important;
}

[data-type=checkbox] .formkit-input:focus~.formkit-decorator {
  box-shadow: 0 0 0 1px var(--fk-color-primary) !important;
}

[data-type=submit] {
  margin-bottom: 0 !important;
}

[type=submit].formkit-input {
  font-weight: var(--fk-font-weight-label) !important;
}

[data-message-type=ui] {
  text-align: center !important;
}


